<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/css/login.css">
  <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
</head>
<body>
  <h1 id='dash-name'>Welcome to Monster Racer!</h1>
<div class="container">
  
  <div id='login'>
    <h2>Login</h2>
      <form action='/login' method='POST'>
        <label>Name</label><label class='pword'>Password</label><br>
        <input type='text' name='user[name]'>

        <input type='password' name='user[password]'>
        <input type=submit value='Submit'>
      </form
  </div>

  <div id='signup'>
    <h2>Sign up</h2>
      <form action='/signup' method='POST'>
        <label>Name</label><label class='pword'>Password</label> <br>
        <input type='text' name='user[name]'>
        <input type='password' name='user[password]'>
        <input type=submit value='Submit'>
      </form
  </div>
 


</div>
</body>
</html>








